{% extends "main.twig" %}

{% block title %}About{% endblock title %}

{% block jumbotron %}
   <div class="jumbotronAbout">
    <h1 class="jumboHeader">Who We Are</h1>
  </div>
{% endblock jumbotron %}

{% block content %}
  <div class="about">
    <h1>Who is Neuro<span class="logoColor">Fit</span>?</h1>
    <h3>Our Mission</h3>
    <p>The mission and goal of NeuroFit is to remove the barriers of traditional exercise for the neurologic population, instilling confidence in our clients and empowering them to begin a lifestyle of health and fitness.</p>
    <h3>How We Can Help</h3>
    <p>NeuroFit offers individualized personal training sessions and small group fitness classes adapted to meet the specific needs and goals of our clients. Every client will be evaluated by a licensed physical therapist prior to the initiation of an exercise program with one of our personal trainers who have been certified to work with special populations.</p>
  </div>
  <div class="content">
    <h1>Meet The Team</h1>
    <ul class="bioDetails">
      <li class="bio"><img src="{{ baseUrl }}img/contactKatie.jpg" alt="Katie"/> <h5>Katie Rodgers</h5><h6>CEO/Founder</h6><p>Katie is the CEO and Founder of NeuroFit. She received her MBA in 2009 from the University of Florida. Prior to founding NeuroFit she was the Director of Sales at Mount Olympus Gym. Her passion is allowing everyone the opportunity to be fit and healthy. When Katie is not running NeuroFit you can her hiking and doing photography. She says her greatest achievement was hiking the Appalachian Trail in between undergrad and graduate school.</p></li>
      <li class="bio"><img src="{{ baseUrl }}img/contactBrian.jpg" alt="Brian"/> <h5>Brian Stephenson PT, DPT</h5><h6>Director of Health and Wellness</h6><p>Brian is a licensed Physical Therapist who attended the University of Florida. He is also NeuroFit&#39;s Director of Health and Wellness. He provides one on one consultations with every new member and will work with you to determine an exercise regimen. Brian also oversees all Personal Trainers. He enjoys watersports, especially kayaking.</p></li>
      <li class="bio"><img src="{{ baseUrl }}img/contactLaura.jpg" alt="Laura"/> <h5>Laura Malton</h5><h6>Director of Group Training</h6><p>As the Director of Group Training, Laura decides what Group Training classes to add and loves receiving suggestions on what you would like to see. She also teaches Zumba Gold.</p></li>
      <li class="bio"><img src="{{ baseUrl }}img/contactSteve.jpg" alt="Steve"/> <h5>Steve Rainey</h5><h6>Personal Trainer</h6><p>Steve is a Personal Trainer and avid hiker. He graduated from the University of Colorado in 2009. He misses the mountains in Colorado but does enjoy being so close to the beach.</p></li>
      <li class="bio"><img src="{{ baseUrl }}img/contactJames.jpg" alt="James"/> <h5>James Appleby</h5><h6>Personal Trainer</h6><p>James was in the Navy for 10 years before joining NeuroFit. As a personal trainer his job is to ensure you are performing exercises safely and effectively. An interesting fact about James is he loves black-and-white movies.</p></li>
      <li class="bio"><img src="{{ baseUrl }}img/contactSusan.jpg" alt="Susan"/> <h5>Susan Collins</h5><h6>Personal Trainer</h6><p>Susan is the newest member of our team. She graduated in 2012 with a degree in Kinesiology and Nutrition from the University of Colorado. She loves making a difference in people&#39;s lives and volunteers every Saturday morning at a local homeless shelter.</p></li>
    </ul>
  </div>
{% endblock content %}
